// tslint:disable
{{>licenseInfo}}

import { Meta, OptimisticUpdate, QueryKey, QueryOptions, Rollback, TransformStrategy, Update, CredentialOption } from "redux-query";

export const BASE_PATH = "{{{basePath}}}".replace(/\/+$/, "");

export type ConfigurationParameters = {
    basePath?: string, // This is the value that will be prepended to all endpoints.
    credentials?: CredentialOption, // Set this to "include" to allow cookies to be accepted and sent with CORS
}

export const Configuration: ConfigurationParameters = {
    basePath: '', // For compatibility with
                  // previous versions, the default is an empty string.  Other generators typically use
                  // BASE_PATH as the default.
    credentials: 'omit', // Set this to "include" to allow cookies to be accepted and sent with CORS
};

export interface TypedQueryConfig<TState, TBody> {
    force?: boolean;
    meta?: Meta;
    options?: QueryOptions;
    queryKey?: QueryKey;
    update?: Update<TState>;
    optimisticUpdate?: OptimisticUpdate<TState>;
    retry?: boolean;
    rollback?: Rollback<TState>;
    transform?: TransformStrategy<TState, TBody>
}

export class RequiredError extends Error {
    name: "RequiredError" = "RequiredError";
    constructor(public field: string, msg?: string) {
        super(msg);
    }
}

export const COLLECTION_FORMATS = {
    csv: ",",
    ssv: " ",
    tsv: "\t",
    pipes: "|",
};

export type ModelPropertyNaming = 'camelCase' | 'snake_case' | 'PascalCase' | 'original';

export function exists(json: any, key: string) {
    const value = json[key];
    return value !== null && value !== undefined;
}

export function mapValues(data: any, fn: (item: any) => any) {
  return Object.keys(data).reduce(
    (acc, key) => ({ ...acc, [key]: fn(data[key]) }),
    {}
  );
}